.form {
  padding-left: 20px;
  text-align: center;
  flex: 0 0 33%;
  box-sizing: border-box; 
}

  .button {
    text-align: center;
}

p {
  text-align: center;
}

.logout-button {
  padding-top: 20px;
  padding-bottom: 20px;
}